<!DOCTYPE html>
<html>
<head>
  <title>NuestraPrimera</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav">

  <div id="nav-container">
    <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<%= yield %>

<footer class="footer">
  <div class="container">
    NuestraPrimera application is awesome.
  </div>
</footer>

</body>
</html>
